<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <!--
    <% @users.each do |user| %>
        <%= render user %>
     <% end %>
     -->
     <%= render @users %> <!--mesmo efeito que bloco comentado-->
</ul>

<%= will_paginate %><!-- Método para criar paginação-->
